{% extends 'base.html' %}

{%block title%} Manage Menu {%endblock title%}

{% block body %}

{% for message in messages %}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class='container py-4 col-md-8'>

    <h1 class='text-center mb-3'>Add a dish</h1>

    <form method='POST'  action='/manage_menu' enctype="multipart/form-data" class='row g-3' style ='display:flex; justify-content:center; align-items : center;'>
      {% csrf_token %}
      
      
      <div class="form-floating mb-3 col-md-8">
        <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name of dish">
        <label for="floatingInput">Name of dish</label>
      </div>

       <div class="form-floating mb-3 col-md-8 ">
        <select name="cat"  class="form-control dropdown" id="name">
          <option value="" disabled selected>Select</option>
          <option value="papad">Papad</option>
          <option value="starter">Starter</option>
          <option value="gravy">Gravy</option>
          <option value="bread">Bread</option>
          <option value="dal">Dal</option>
          <option value="rice">Rice</option>
          <option value="dessert">Dessert</option>
          <option value="beverage">Beverage</option>
        </select>
        <label for="floatingInput">Category of dish</label>
      </div>
      
      <div class="form-floating mb-3 col-md-8">
        <input type="number" name='price' id="form3Example3c" placeholder='Enter the price of dish' class="form-control" maxlength='4' />
        <label class="form-label" for="form3Example3c">Price</label>
      </div>
      
      <div class="form-floating mb-3 col-md-8">
        <input type="text" name="desc" class="form-control" id="name" placeholder="Enter decription of dish">
        <label for="floatingInput">Description</label>
      </div>

      <div class="form-floating mb-3 col-md-8">
        <input type="file"  name='img' id="form3Example3c" accept="image/*" placeholder='Choose File' class="form-control"  />
        <label class="form-label" for="form3Example3c">Upload image</label>
      </div>

      <button type='submit' class='btn btn-primary col-md-6'>Submit</button>
    
    </form>

</div>


<div class="row justify-content-center">
{%for i in items%}
<div class="card" style="width: 18rem; margin:20px 20px 10px; ">
  <img src="{{i.pic.url}}" class="card-img-top" alt="..." style='padding:10px 0px 0px' >
  <div class="card-body">
    <!-- <h4 class="card-title">{{i.id}}</h4> -->
    <h4 class="card-title">{{i.name}}</h4>
    <h5 class="card-title">₹{{i.price}}</h5>
    <p class="card-text">{{i.desc}}</p>
    <form action="{% url 'delete_dish' i.id %}" method="post">
    {% csrf_token %}
    {% if user.is_superuser %}
    <!-- <a href="#" class="btn btn-danger">Delete</a> -->
    <button class="btn btn-danger" type="submit">Delete</button>
    {%else%}
    <a href="#" class="btn btn-primary">Add to cart</a>
    {%endif%}
    </form>
  </div>
</div>
{%endfor%}
</div>

{% endblock body %}

