{% extends 'base.html' %}

{% block title %}Menu
{% endblock title %}

{% block body %}

{% for message in messages %}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% for category, menu_items in items_by_category.items %}
  <h3 style="margin:40px 25px 5px">{{category}}:</h3>
<div class="row justify-content-center">
{%for i in menu_items%}
<div class="card" style="width: 18rem; margin:20px 20px 10px; ">
  <img src="{{i.pic.url}}" class="card-img-top"  style='padding:10px 0px 0px; max-height:250px;'>
  <div class="card-body">
    <h4 class="card-title" id="namepr{{i.id}}" >{{i.name}}</h4>
    <h5 class="card-title">₹<span id="pricepr{{i.id}}" >{{i.price}}</span></h5>
    <p class="card-text">{{i.desc}}</p>
    {% if user.is_superuser %}
    <form action="{% url 'delete_dish' i.id %}" method="post">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Delete</button>
    </form>
    
    {% else %}
    <span id="divpr{{i.id}}" class="divpr" >
    <button  id="pr{{i.id}}" class="btn btn-primary cart">Add to cart</button>
    </span>
    {%endif%}
  </div>
</div>
{%endfor%}
</div>
{%endfor%}

<div class="d-md-flex mx-auto justify-content-md-center" 
  style="
  padding:25px 0px 50px;">
  <a href='/cart' ><button type="submit" class="btn btn-outline-success">Go To Cart</button> </a>
</div>


{% endblock body %}


{%block js%}

<script>

  var cart = JSON.parse(localStorage.getItem('cart')) || {};
  updatecart(cart);

  
  $('.divpr').on('click', 'button.cart', function() {
    var itemId = $(this).attr('id');
    // console.log(itemId);
    
    if (cart[itemId]) {
      cart[itemId]++;
      qty = cart[itemId][0] + 1;
      // name = "My Item";
      cart[itemId][0] = cart[itemId][0] + 1;
    } else {
      qty = 1;
      name = document.getElementById('name'+itemId).innerHTML;
      price = document.getElementById('price'+itemId).innerHTML;
      cart[itemId] = [qty,name,parseInt(price)];
    }
    updatecart(cart);
    
    // localStorage.setItem('cart', JSON.stringify(cart));
    // console.log(cart);
  });
  
  updatecart(cart);

  function updatecart(cart) {
    var total = 0;
    for (var item in cart){
      total = total + cart[item][0]
      document.getElementById('div'+item).innerHTML = "<button id='minus"+item+ "'class=' btn btn-primary minus'>-</button> <span id='val"+item+"''>"+cart[item][0]+"</span> <button id='plus"+item+"'class='btn btn-primary plus' > + </button>";
    }
  localStorage.setItem('cart', JSON.stringify(cart));
  document.getElementById('cart').innerHTML= total;
  }

  $('.divpr').on('click', 'button.minus', function(){
    a=this.id.slice(5,);
    cart[a][0]= cart[a][0] -1;
    cart[a][0] = Math.max(0,cart[a][0])
    document.getElementById('val'+a).InnerHTML= cart[a][0];
    updatecart(cart);
  } )

  $('.divpr').on('click', 'button.plus', function(){
    a=this.id.slice(4,);
    cart[a][0]= cart[a][0] +1;
    document.getElementById('val'+a).InnerHTML= cart[a][0];
    updatecart(cart);
  } )

  var url = window.location.href;
        var params = new URLSearchParams(new URL(url).search);
        var tableValue = params.get('table');
        localStorage.setItem('tableValue', tableValue);

</script>

{%endblock js%}